<app-mostrar-errores [errores]="errores"></app-mostrar-errores>

<form (submit)="guardarCambios()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Descripción*</mat-label>
        <input formControlName="descripcion" matInput />
        <mat-error *ngIf="form.invalid">{{ obtenerErrorCampoDescripcion() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Dosis*</mat-label>
        <input formControlName="dosis" matInput />
        <mat-error *ngIf="form.invalid">{{ obtenerErrorCampoDosis() }}</mat-error>
    </mat-form-field>
    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">
      Guardar Cambios
    </button>
        <a mat-stroked-button routerLink="/generos"> Cancelar </a>
    </div>
</form>